.backGround {
  display: grid;
  background-image: url(grass_block_side.png), url(dirt.png);
  background-repeat: repeat-x, repeat;
  height: 100%;
  width: 100%;
  position: fixed;
  box-shadow: 0 0 1000px rgb(0 0 0 / 90%) inset;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
}

.boxOne {
  grid-column: 1/2;
  opacity: 0.5;
  position: absolute;
  font-family: "VT323", monospace;
  color: white;
  font-size: 100px;
  outline: 5px solid rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.8);
}

.boxName {
  border: 5px solid rgba(45, 7, 102, 0.95);
  outline: 5px solid rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.8);
  margin: 10px;
  text-align: center;
}

.boxTwo {
  grid-column: 2/3;
  opacity: 0.5;
  position: absolute;
  font-family: "VT323", monospace;
  color: white;
  font-size: 100px;
  outline: 5px solid rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.8);
}

.imageBlock {
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 25px;
  display: grid;
  justify-items: center;
  padding: 10px;
}

